﻿
@model InvoiceDomain.Domain.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (TempData[MvcApplication.TEMP_OBJ_ERRMSG] != null)
{
    <div class="alert alert-danger">@TempData[MvcApplication.TEMP_OBJ_ERRMSG]</div>
}
<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>User Name</label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <input type="submit" name="LoginType" value="User Login" class="btn btn-success" />
        <input type="submit" name="LoginType" value="Manager Login" class="btn btn-warning" />
    }
</div>